.main-container {
    height: 700px;
    width: 1300px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 56px
}

.all-pages-container {
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.arrow-slider {
    cursor: pointer;
    color: white;
    /* margin: 0 10px 12px 10px; */
}

.dots {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.dot1 {
/*     width: 15px;
    height: 15px; */
    width: 100px;
    height: 100px;
    /* border-radius: 100%; */
    /* border-radius: 10px; */
    margin-right: 10px;
    /* border: 2px solid rgba(1, 42, 52, 1); */
    background: #FEFEFE;
}
.dot2 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid rgba(1, 42, 52, 1);
    background: #FEFEFE;
}
.dot3 {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid rgba(1, 42, 52, 1);
    background: #FEFEFE;
}
.dot4 {
    width: 83px;
    height: 7px;
    
    background: #FEFEFE;
    border-radius: 30px;
}
.active-dot {
    background: #1EACC7;
    height: 10px;
}